.jumbotron {
    background-color: deepskyblue;
    color: white;
    padding: 100px 25px;
}

.jumbotron-small {
    background-color: deepskyblue;
    color: white;
    padding: 50px 25px;
}

.dir-file {
    background-color: coral;
}

.dir-file:hover {
    background-color: chocolate;
}

.disk-file {
    background-color: grey;
}

.disk-file:hover {
    background-color: #464a4e;
}

.target-dir {
    background-color: deepskyblue;
}

body a {
    color: #333;
}

body a:hover {
    color: black;
}

.copy-path {
    color: deepskyblue;
    margin-left: 3px;
    text-decoration: none;
}

.copy-path:hover {
    color: dodgerblue;
}